
server/*/bin/
server/*/obj/
server/packages/
server/*.suo
server/buildreports/
server/test-results.xml
*.user
server/bin/
nunit-result.xml
*.swp
server/coverage
buildreports
server/.vs/config/applicationhost.config
server/OpenCover/






server/.vs/AddressBook/config/applicationhost.config

server/.vs/AddressBook/DesignTimeBuild/.dtbcache.v2

server/.vs/AddressBook/v16/TestStore/0/005.testlog

*.manifest

*.testlog

Capture.PNG

client/.browserslistrc

client/.editorconfig

client/node_modules/

Assesment Project.docx

data.xml

server/.vs/QuizApp/config/

*.v2

server/.vs/QuizApp/v16/.suo

server/QuizApp.Persistence/ApplicationDbContext.dgml

server/QuizApp/healthchecksdb
